@import "bootstrap-sprockets";
@import "bootstrap";

.year-square {
  height: 150px;
  width: 100%;
  background-color: bisque;
  border-radius: 4px;
  border: 1px solid #F5CE9F;
  margin-bottom: 10px;
}

.year-square:hover {
  background-color: #F5CE9F;
}

.year-text {
  color: violet;
  padding-top: 31px;
}
